build/adapter/
build/port/
build/v06/
build/i8080/
build/title/
build/i18n/
__pycache__/
*.pyc
.DS_Store
# track build/analysis/prof-z80.json (needed for recompile)
!build/analysis/
!build/analysis/prof-z80.json
